<!-- TRIGGER BUTTON -->
<button @click="$dispatch('open-popup')" aria-haspopup="dialog" type="button">Open Popup</button>

<!-- DIALOG -->
<div
  x-data="{open: false}"
  x-cloak
  x-effect="open ? window.lenis?.stop() : window.lenis?.start()"
  class="fixed inset-0 z-999"
  x-transition.opacity.duration.300ms
  @keydown.escape.window="open = false;"
  @open-popup.window="open = true"
  x-show="open"
>
  <div @click.self="open=false" class="flex h-screen w-full items-center justify-center bg-black/40 px-4">
    <div
      x-show="open"
      role="dialog"
      aria-modal="true"
      aria-labelledby="contact-form-title"
      x-trap.inert="open"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0 scale-95"
      x-transition:enter-end="opacity-100 scale-100"
      x-transition:leave="transition ease-in duration-200"
      x-transition:leave-start="opacity-100 scale-100"
      x-transition:leave-end="opacity-0 scale-95"
      class="relative h-full max-h-max w-full max-w-155 space-y-4 overflow-auto rounded-xl bg-white p-4 sm:p-8 md:rounded-3xl"
      data-lenis-prevent
    >
      <h2 id="contact-form-title" class="text-dark mb-6 text-center text-4xl leading-none font-bold sm:text-5xl">Contact Form</h2>
      <p class="text-gray mb-8 text-center leading-relaxed">Send us a message and our team will respond promptly.</p>
      <div class="">
        <script type="text/javascript" src="https://form.jotform.com/jsform/260543096925159"></script>
      </div>
      <button type="button" @click="open = false" aria-label="Close dialog" class="absolute top-4 right-4 size-6 cursor-pointer sm:top-8 sm:right-8">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="size-6" viewBox="0 0 24 24" fill="none">
          <path
            d="M13.8323 12.0001L21.6199 4.21215C22.1267 3.70557 22.1267 2.88651 21.6199 2.37993C21.1133 1.87336 20.2943 1.87336 19.7877 2.37993L11.9999 10.1679L4.21228 2.37993C3.70548 1.87336 2.88667 1.87336 2.3801 2.37993C1.8733 2.88651 1.8733 3.70557 2.3801 4.21215L10.1677 12.0001L2.3801 19.7881C1.8733 20.2947 1.8733 21.1138 2.3801 21.6204C2.63256 21.8731 2.96449 22 3.29619 22C3.62789 22 3.95959 21.8731 4.21228 21.6204L11.9999 13.8324L19.7877 21.6204C20.0404 21.8731 20.3721 22 20.7038 22C21.0355 22 21.3672 21.8731 21.6199 21.6204C22.1267 21.1138 22.1267 20.2947 21.6199 19.7881L13.8323 12.0001Z"
            fill="#1D1D1D"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
